 

@{
    ViewData["Title"] = "Inicio";
}

    @if (Context.User.Identity.IsAuthenticated)
    { 
        <br />
        <h1>Bienvenido @User.Identity.Name </h1>
        <h3>@ViewData["AccessToken"]</h3>
        <br/>

        <a asp-controller="Login" asp-action="Logout">Cerrar Sesión</a>
    }


