 

@{
    ViewData["Title"] = "Home Page";
}

    @if (Context.User.Identity.IsAuthenticated)
    { 
        <br />
        <h5 style="font-size: 20px" class="text-white">Bienvenido  </h5>
        <h3 style="font-size: 25px" class="text-white">@User.Identity.Name</h3>
        <h3>@ViewData["AccessToken"]</h3>
         <a asp-controller="Login" asp-action="Logout" class="logout">Logout</a>
       
    }


